/* Ingredients, machine and ustensiles seach inputs */

/* Inputs */

#ingredients-search {
    input {
        height: 56px !important;
        outline: none;

        &::placeholder {
            color: var(--white);
        }

        &.rounded-t {
            &::placeholder {
                color: var(--white-o);
            }
        }
    }

    i {
        right: 15px;
    }
}

#machine-search {
    input {
        height: 56px !important;
        outline: none;

        &::placeholder {
            color: var(--white);
        }

        &.rounded-t {
            &::placeholder {
                color: var(--white-o);
            }
        }
    }

    i {
        right: 15px;
    }
}

#ustensils-search {
    input {
        height: 56px !important;
        outline: none;

        &::placeholder {
            color: var(--white);
        }

        &.rounded-t {
            &::placeholder {
                color: var(--white-o);
            }
        }
    }

    i {
        right: 15px;
    }
}

/* Icon animation */

.icon-rotation {
    transform: rotate(180deg);
}

/* Dropdowns lists */

.dropdown-list {
    display: none;
}

.dropdown-fadeIn {
    display: grid;

    @media (min-width: 1024px) {
        position: absolute;
        top: 56px;
        width: 100%;
    }
}

/* Dropdowns lists elements */

.ingredient-element-selected {
    color: var(--azure-disabled-color) !important;
}

.machine-element-selected {
    color: var(--mediumGreen-disabled-color) !important;
}

.ustensil-element-selected {
    color: var(--fireOpal-disabled-color) !important;
}