/* Colors variables */

:root {
    /* White */
    --white: #FFF;
    --white-o: rgba(255, 255, 255, 0.5);
    /* Red */
    --indianRed: #D04F4F;
    --indianRed-hover: #D45E5E;

    /* Lighter red */
    --fireOpal: #ED6454;
    --fireOpal-disabled-color: #B92413;

    /* Blue */
    --azure: #3282F7;
    --azure-disabled-color: #074BB0;

    /* Green */
    --mediumGreen: #68D9A4;
    --mediumGreen-disabled-color: #29A36A;

    /* Background gray */
    --platinum: #E7E7E7;

    /* Font lighter gray */
    --gainsboro: #E0E0E0;

    /* Background replacement gray */
    --silver: #C7BEBE;

    /* Dark mode palette */
    /* Text color */
    --dark-white: #E2E2E2;
    --black: #000;

    /* Background color */
    --rich-black: #121212;

    /* Input bg color */
    --eerie-black: #1F1F1F;

    /* Image replacement color */
    --jet: #1D1D1D;

    /* Recipe infos */
    --onyx: #2C2C2C;
}
