/* Colors variables */

:root {
    /* White */
    --white: #FFF;
    --white-o: rgba(255, 255, 255, 0.5);
    /* Red */
    --indianRed: #D04F4F;
    --indianRed-hover: #D45E5E;

    /* Lighter red */
    --fireOpal: #ED6454;
    --fireOpal-border-hover: #EA4634;

    /* Blue */
    --azure: #3282F7;
    --azure-border-hover: #146EF5;

    /* Green */
    --mediumGreen: #68D9A4;
    --mediumGreen-border-hover: #4BD293;

    /* Background gray */
    --platinum: #E7E7E7;

    /* Font lighter gray */
    --gainsboro: #E0E0E0;

    /* Background replacement gray */
    --silver: #C7BEBE;
}
